<div class="container">
    <div class="row mt-5">
        <div class="col text-center">
            <img src="../../../assets/ruleta.gif" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <p>
                Juego de la ruleta con 3 jugadores y cada uno con una estrategia diferente y se debe simular que estrategia es mas eficiente.
            </p>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col text-center">
            <h4>Luis Hernandez Juan Carlos</h4>
            <h4>Universidad del Golfo de Mexico Campus Oaxaca</h4>
            <h2>PROYECTO DE SIMULACIÓN DE SISTEMAS</h2>
        </div>
    </div>

    <div class="row mt-5 animated flash">
        <div class="col text-center">
            <button [routerLink]="['/estrategias']" class="btn btn-danger">
            <i class="fas fa-chart-line"></i>
  Ver estrategias para ganar
</button>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-center">
            <img src="../../../assets/UGMEX.png" alt="">
        </div>
    </div>
</div>